<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Episodes" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/episodes">Episodes</a>
                </li>
            {% endif %}
        {% endif %}
        <li class="item">
            <a class="link" href="{{ site.url }}/maps">Map</a>
        </li>

        <li class="item">
            <a class="link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FGSJCKT4RSSKW">Donate via Paypal</a>
        </li>
        <li class="item">
            <a class="link" href="https://www.patreon.com/vikingagepodcast">Become a Patron</a>
        </li>
    </ul>
</nav>
