<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="http://facebook.com/{{ site.facebook }}" target="_blank">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if site.rss %}
        <a class="link" data-title="RSS" href="{{ site.rss }}" target="_blank">
            <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
        </a>
    {% endif %}

    {% if site.itunes %}
        <a class="link" data-title="Itunes" href="{{ site.itunes }}" target="_blank">
            <img class="icon icons8-SoundCloud" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAABWklEQVQoU43Sr0tDURQH8O/3vKlMDCJGXRFkMPaevjkEMRmWRINBQbAYtFjMFovFIFhWRFhc8R8QWbDo9nDvPrH6I5hEDSKCbvfIhAmC83njud8PnANfosOrVCqJvv6BLVLXxFrX9/2HVpSdQBCaA4Crqs0oPz7utXO/giC4Sln5uBXyCYLChOdd/Amql5fDbOq8Yxvl9io/wHkYjiZUdlXttIrcECxR9cVSV9TqFEQeBSjmvOwOz4wZEpW6QAc73fM9VywzCE0R4HpcWK0e5X1vgVVj7kSZigN06OWy2YhBGDUAOHEg2eX0ZDKZd1bD6FWA3jiggpG8616zVq8b0nHjAIG93Ji72VppH8BGHGj9q+o2A2MmoTz7DwDs8Vc1qhfRiQhm4pAqC18giKI0LFp9SXZCarWc972l7/LVjJmjxWGT+uxASgTuARYatjmboJy+JbsXp9Ppl09yvYaa9eJ36AAAAABJRU5ErkJggg==" width="16" height="16">
        </a>
    {% endif %}

    {% if site.google %}
        <a class="link" data-title="plus.google.com/{{ site.google }}" href="http://plus.google.com/{{ site.google }}" target="_blank">
            <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="http://instagram.com/{{ site.instagram }}" target="_blank">
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        </a>
    {% endif %}

    {% if site.pinterest %}
        <a class="link" data-title="pinterest.com/{{ site.pinterest }}" href="http://pinterest.com/{{ site.pinterest }}" target="_blank">
            <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/{{ site.linkedin }}" href="http://linkedin.com/{{ site.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="http://youtube.com/{{ site.youtube }}" target="_blank">
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="link" data-title="spotify.com/{{ site.spotify }}" href="https://spotify.com/{{ site.spotify }}" target="_blank">
            <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}" target="_blank">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
    {% if site.soundcloud %}
        <a class="link" data-title="soundcloud.com/{{site.soundcloud}}" href="https://soundcloud.com/{{site.soundcloud}}" target="_blank">
            <img class="icon icons8-SoundCloud" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAB+0lEQVRoQ+2Y4U3DMBBGXyeADaATABMAG9AN6ATABMAElAmACWgnACaADYANYALQF8WVZRViJ60bV3e/2six7913Pl88YMNssGE8GFDfFTWFTKHMEbCUyxzw5OVMoeSQZX7BFOoY8G1gDzgK5vkC3oCXjvNna30EcgacA/r9lwlsAtwC+p1sOVJuH3hqAAkdF8wIeE4lWjVQGxifYQzcp0B1BdoFduoFw/xXar0CGtPWpNQB8BE7QRsgOXoDKHpXwGW9mOY6BX6Ah3rjK9W6mtLuOHaSNkBa4BCqghICuf+qWBf13on15b9xAoraT6sCknNyYhkKaS4pLvUbrRQg7aFhI02dNjHj/DExKbdshTSfgBqLQ5NC2isyVSrJLlsXkM6lLa9qCm4WHsAhkBz3o6CK5cyNXRfQokxSWVchUmdRmQ+kTXcXPOs7kOPQ4atjZA7kYELIUoDkt46JiRTSQfnu9Vq+aiUBKf2Gcv4EeFywV/SoJCD5Ow5P+5JTTr5fG9Aaz6GYBqBSaJP20MhVNB2m7rum1Cr3qS7COe+rVCqQWqNp2CnogsK/xCihbH/Xly/Vp3rYywnGv23pM5BSbFrfEs37z6ZuO6ay9GqMAfVKjgXOmEKmUOYIWMplDnjycqZQcsgyv2AKZQ548nKmUHLIMr9gCmUOePJyv9Cej3U3vT+aAAAAAElFTkSuQmCC" width="20" height="20">
        </a>
    {% endif %}
</div>
